<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"), pages_top_path %>
     <label>エリア</label>
      <%= form_with url: rooms_search_path, method: :get do |f| %>
      <%= f.text_field :area %>
      <% end %>
     <label>キーワード</label>
      <%= form_with url: rooms_search_path, method: :get do |f| %>
      <%= f.text_field :keyword %>
      <% end %>
     <% if user_signed_in? %>
       <%= current_user.name %>
     <% if current_user.image.present? %>
       <%= image_tag current_user.image.url, size: '100x100' %>
     <% else %>
       <%= image_tag "https://presite-potepancamp-rails-02.herokuapp.com/assets/default_icon-9263fc59c414b7228d256fc178dcb22183561357950a68f5ad086ba7ee054974.jpg", size: '100x100' %>
     <% end %>
      <ul>
        <li><%= link_to "ルーム登録", new_room_path %></li>
        <li><%= link_to "登録済みルーム一覧", rooms_path %></li>
        <li><%= link_to "設定", pages_profile_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path %></li>
      </ul>
     <% else %>
      <ul>
        <li><%= link_to "ログイン", user_session_path %></li>
        <li><%= link_to "登録する", new_user_registration_path %></li>
      </ul>
     <% end %>
    </header>

    <%= yield %>

    <footer>
      <p>© 2020 POTEPAN.INC.</p>
    </footer>
  </body>
</html>
